{% extends "base.html" %}

{% block content %}

<head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
{% if 'user_name' in session %}
<a href="{{ url_for('add_product') }}" class="add-product-button">Add Product</a>
            {% else %}
            {% endif %}
<div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <h3>{{ product.product_name }}</h3>
        <div class="product-info">
            <div class="product-image" style="background-image: url('{{ url_for('static', filename='assets/arbuz.png') }}');"></div>
            <div class="product-price">{{ product.price }}$</div>
        </div>
        <div class="product-form">
            <form method="POST" action="{{ url_for('cart/add', product_id=product.product_id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Add to cart</button>
            </form>
            <button onclick="window.location.href='{{ url_for('product_detail', product_id=product.product_id) }}'">
                View details
            </button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
